.banner {
  background: url(../img/2Banner/banner.png)center/cover no-repeat;
  height: 772px;
  display: flex;
  justify-content: center;

  position: relative;

  &__img {
    position: absolute; 
    top: 50%;
  }
}

.banner-content {
  text-align: center;
  margin-top: 150px;

  &__title {
    color: #ffc61a;
    font-size: 36px;
    text-transform: uppercase;
    font-family: "L-B";
  }

  &__phone {
    margin-top: 21px;

    color: #ffffff;
    font-size: 72px;
    text-transform: uppercase;
    font-family: "L-B";
  }

  &__site {
    margin-top: 30px;

    color: #ffffff;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 14px;
    font-family: "L-B";
  }
}

@media (max-width: 1230px) {
  .banner__img {
    width: 518px;
    height: 321px;
    top: 68%;
  }

  .banner-content {
    margin-top: 220px;
  }
}

@media (max-width: 575px) {
  .banner {
    height: 572px;
  }

  .banner__img {
    width: 318px;
    height: 171px;
    top: 77%;
  }

  .banner-content {
    margin-top: 200px;


    &__title {
      font-size: 30px;
    }

    &__phone {
      margin-top: 21px;
      font-size: 42px;
    }

    &__site {
      margin-top: 30px;
      font-size: 14px;
      letter-spacing: 6px;
    }
  }
}

@media (max-width: 360px) {
  .banner__img {
    width: 258px;
    height: 141px;
    top: 81%;
  }

  .banner-content {
    margin-top: 210px;


    &__title {
      font-size: 26px;
    }

    &__phone {
      margin-top: 21px;
      font-size: 36px;
    }

    &__site {
      margin-top: 30px;
      font-size: 14px;
      letter-spacing: 4px;
    }
  }
}